.SearchBar * {
  box-sizing: border-box;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.SearchBar {
  border-radius: 2rem;
}

.SearchBar input {
  float: left;
  width: 80%;
  color: var(--g2);
  padding: 10px;
  text-align: center;
  background: var(--b1);
  font-size: 17px;
  border: 1px solid var(--g1);
}

.SearchBar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--b3);
  color: white;
  font-size: 17px;
  border: 1px solid var(--g1);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.SearchBar button:hover {
  background: var(--b2);
}
