.SearchBar * {
  box-sizing: border-box;
  font-family: sans-serif;
}
.SearchBar {
  border-radius: 20px;
  overflow: hidden;
}
.SearchBar input {
  width: 70%;
  color: rgb(214, 173, 59);
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left, var(--g2), var(--g1));
  font-size: 17px;
  border-style: none;
}
.SearchBar button {
  width: 30%;
  padding: 10px;
  background: var(--g2);
  color: white;
  font-size: 17px;
  border-style: none;
  cursor: pointer;
  outline: none;
  transition: color 0.6s;
}
@keyframes selected {
  to {
    box-shadow: 0px 0px 25px 10px rgba(214, 173, 59, 0.863);
  }
}
.SearchBar:focus-within {
  animation-name: selected;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.SearchBar input:focus {
  outline-style: none;
}
.SearchBar ::placeholder {
  font-size: 15px;
  color: white;
}
.SearchBar input:focus::placeholder {
  color: transparent;
}
.SearchBar button:hover {
  color: rgb(214, 173, 59);
}
