* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.input {
  width: 90%;
  color: white;
  padding: 10px 10px 10px 5%;
  text-align: center;
  /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
  background-image: linear-gradient(to right, var(--c2) 0%, var(--c1) 100%);
  border-style: none;
  font-size: 1rem;
}
.input::placeholder {
  color: white;
  font-size: 15px;
}
.button {
  position: relative;
  width: 10%;
  /* background: #f9d423; */
  background: var(--c1);
  font-size: 17px;
  border-style: none;
  cursor: pointer;
  outline: none;
}
.icon {
  position: absolute;
  color: var(--c5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input:focus {
  outline-style: none;
}
.input:focus::placeholder {
  color: transparent;
}
