:root {
  --c1: #dde7ee;
  --c2: #81a5ba;
  --c3: #396b89;
  --c4: #323456;
  --c5: #202547;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--c3), var(--c2));
}
